@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-bg: #3579F5;
}

p {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

.card {
    width: 703px;
    height: 91px;
    font-family: 'Inter';
    background-color: var(--main-bg);
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 18px 0 22px;
}

.card__content {
    flex-grow: 1;
    margin: 0 68px 0 16px;
}

.card__content__title {
    background: #2364DB;
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
    padding: 0 13px;
    border-radius: 40px;

}

.card__content__progress {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 4px 0;
}

.card__content__nextAction {
    font-size: 12px;
    line-height: 18px;
}

.card__openBtn {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F4F8FF;
    border-radius: 6px;
    font-size: 14px;
        color: #4777ED;
}